@page
@model NTWEB.Pages.AboutMeModel
@{
    ViewData["Title"] = "بیوگرافی";
    ViewData["ActivePage"] = "About";
}
<section id="About" class="container section biography col">
    <div>
        <h1 dir="ltr">Who Am I ?</h1>
        <div class="bio-section">
            <h2>کامپیوتر | موسیقی</h2>
            <p></p>
        </div>
    </div>
</section>
