@page
@model NTWEB.Pages.AboutMeModel
@{
    ViewData["Title"] = "بیوگرافی";
    ViewData["Description"] = "بیوگرافی کوتاهی از نیما ترابی؛ از علاقه به موسیقی تا ورود به دنیای برنامه نویسی و توسعه وب با ASP.NET.";
    ViewData["ActivePage"] = "Biography";
}
<section id="About" class="container section bio" data-aos="fade-up" data-aos-delay="100">
    <div>
        <h1 dir="ltr">Who Am I ?</h1>
        <div class="bio-section">
            <h2><i class="bi bi-music-note"></i> موسیقی</h2>
            <p>
                اگه به سایت یه نگاهی انداخته باشی🧐، احتمالا متوجه شدی که دو تا علاقه اصلی تو زندگی من وجود داره: کامیپوتر و موسیقی.😉
            </p>
            <p>
                علاقم به این دوتا از همون بچگی شروع شد.👶 به نقل از مامان و بابا اولین کلمه‌ای که به زبون آوردم "CD" بوده!😬 هر وقت میرفتیم مهمونی، معمولا با خودم یه سیم رابط برمیداشتم. عرضم به حضورتون که سیم رابط خونه رو هم با میکروفون اشتباه میگرفتم و میرفتم رو مبل و برای خودم آواز میخوندم.🎤
                از اون طرف، یه ویدیو از بچگیم هست که دارم زور میزنم بیت باکس کنم، هرچند معلومه صدایی ازم درنمیاد!😂 بعدا حدود پنج-شش سالگیم، برام یه کیبورد (یا همون ارگ خودمون) خریدن و از همونجا بود که موسیقی برام جدی تر شد.🎹
            </p>
            <h2><i class="bi bi-laptop"></i> کامپیوتر</h2>
            <p>
                چند سال بعد، توی دوران دبستان، کامپیوتر قدیمی برادرم رسید به من.🖥️
                اون کامپیوتر شروع آشنایی جدی‌تر من با سیستم‌عامل و نرم‌افزارهای روزمره بود. چون به دی‌جی بودن و موسیقی علاقه‌ی زیادی داشتم، خیلی زود با نرم‌افزاری به اسم Virtual DJ کار کردم و کلی باهاش سرگرم بودم.
                تو مهمونی‌های فامیلی دو نقش اصلی داشتم: یا گوشی‌هاشون رو درست می‌کردم، یا مسئول پخش موسیقی بودم!🎚️
            </p>
            <p>
                تو دوران دبیرستان خانواده برام یه لپ‌تاپ خریدن. از اون موقع عشق من به دنیای DJ و موسیقی الکترونیک هر روز بیشتر می‌شد. یکی از بزرگ‌ترین آرزوهام داشتن یه کنترلر حرفه‌ای DJ بود.🎛️
                تو پایه هفتم با FL Studio آشنا شدم و کم‌کم وارد دنیای تنظیم موسیقی الکترونیک شدم. این مسیر تا دوازدهم ادامه داشت و همون سال ها بود که با رسانه‌ی ۱۳ آشنا شدم و اولین تجربه هام در تدوین پادکست شکل گرفت. (راستی اگه دوست داری پادکستا رو بشنوی، یه سر به این <a asp-page="Podcast">لینک</a> بزن😉)
            </p>
            <h2><i class="bi bi-code-slash"></i> استارت برنامه‌نویسی</h2>
            <p>
                به خاطر علایقی که داشتم، رشته‌ی «چندرسانه‌ای» دانشگاه هنر اسلامی تبریز رو به عنوان اولویت اولم انتخاب کردم و خوشبختانه قبول شدم.😁
                تو دوران دبیرستان یه آشنایی اولیه با پایتون پیدا کرده بودم، ولی خیلی ادامه‌دار نشد. با این حال تو همون ترم یک، با زبان سی‌شارپ آشنا شدم و این بار خیلی جدی‌تر استارت زدم. دوره‌های مقدماتی و پیشرفته‌ی سی‌شارپ رو کامل گذروندم و حالا درگیر یادگیری ASP.NET و دنیای وب‌دولوپمنت هستم. تلاشم اینه که پروژه‌هایی که بهم سپرده می‌شن رو با بیشترین دقت و کیفیت انجام بدم.😎

                مرسی که تا اینجا با من همراه بودی و یه گوشه‌ای از مسیر زندگی منو خوندی.☺️
            </p>
        </div>
    </div>
</section>
