@page
@model NTWEB.Pages.ContactModel
@{
    ViewData["Title"] = "تماس بامن";
    ViewData["ActivePage"] = "Contact";
}
<div>
    <section id="contact" class="contact section" data-aos="fade-up">
        <div class="container section-title">
            <h2>تماس با من</h2>
        </div>

        <div class="container row col-lg-6">
            <div>
                <form method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control custom-input" id="name" placeholder="نام و نام خانوادگی">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control custom-input" id="email" placeholder="ایمیل / شماره همراه">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control custom-input" id="subject" placeholder="موضوع">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control custom-input" id="message" rows="4" placeholder="متن پیام"></textarea>
                    </div>
                    <button type="submit" class="btn custom-btn w-100">ارسال پیام</button>
                </form>
            </div>
            <div>
                <p>
                    اگه بخوای میتونی از طریق شبکه‌‌های مجازی زیر هم باهام در ارتباط باشی😉
                </p>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/nima-torabi-9369732b9/">
                    <img src="~/images/socialIcons/linkedin.svg" alt="linkedin.svg" width="85px" height="85px" />
                    <div>Linkedin</div>
                </a>
                <a href="https://www.instagram.com/nimatorabi.t/">
                    <img src="~/images/socialIcons/instagram.svg" alt="instagram.svg" width="85px" height="85px" />
                    <div>Instagram</div>
                </a>
                <a href="https://t.me/nimatorabi_t">
                    <img src="~/images/socialIcons/telegram.svg" alt="telegram.svg" width="85px" height="85px" />
                    <div>Telegram</div>
                </a>
            </div>
        </div>
    </section>
</div>