@page
@model ErrorModel
@{
    ViewData["Title"] = "خطا";
}
<div class="error-page">
    <h1>خطا</h1>
    <h2>در پردازش درخواست شما مشکلی رخ داده است.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>شناسه درخواست:</strong>
            <code>@Model.RequestId</code>
        </p>
    }

    <p>لطفاً چند لحظه دیگر دوباره تلاش کنید.</p>
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/error.min.css">
}
