@page
@model IndexModel
@{
    ViewData["Title"] = "خانه";
    ViewData["ActivePage"] = "Index";
}
<div>
    @*     <section id="intro-section">
        <div class="custom-cursor"></div>

        <div class="intro-container">
            <canvas id="canvas"></canvas>

            <div class="top-text">
                <span>CREATIVE DEVELOPMENT</span>
                <span>PORTFOLIO</span>
                <span>2025 SHOWCASE</span>
                <span>OF</span>
                <span>YOUR NAME</span>
            </div> 

            <div class="intro-text-overlay">
                <div class="intro-center-text">Nima Torabi</div>
                <button class="intro-cta-button">CLICK TO ENTER</button>
            </div>
        </div>
    </section> *@
    <section id="intro" class="intro section">

        <img src="~/images/intro.jpg" alt="intro.jpg" class="intro-img" data-aos="fade-in">


        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="intro-text-container">
                <span class="intro-text"></span>
            </div>
        </div>

    </section>
</div>