@page
@model IndexModel
@{
    ViewData["Title"] = "خانه";
    ViewData["ActivePage"] = "Index";
}
<div>
    <section id="hero" class="hero section">

        <img src="~/images/hero.jpg" alt="" class="hero-img" data-aos="fade-in">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="typed-container">
                <span class="typed"></span>
            </div>
        </div>

    </section>
</div>