@page
@model IndexModel
@{
    ViewData["Title"] = "خانه";
    ViewData["ActivePage"] = "Index";
}
<div>
    <section id="intro" class="intro section">
        <div class="top-text">
            <span>CODE • CREATE • CONNECT</span>
            <span>PERSONAL SHOWCASE</span>
            <span><span class="number-font">2025</span> PORTFOLIO</span>
        </div>

        <img src="~/images/intro.jpg" alt="intro.jpg" class="intro-img" data-aos="fade-in">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="intro-text-container">
                <span class="intro-text"></span>
            </div>
        </div>

    </section>
</div>