@page
@model IndexModel
@{
    ViewData["Title"] = "خانه";
    ViewData["Description"] = "من نیما ترابی‌ام، بک اند دولوپر ASP.NET. اینجا می‌تونی رزومه، پروژه‌ها و نمونه کارهای من رو ببینی و باهام در ارتباط باشی.";
    ViewData["ActivePage"] = "Index";
}
<div>
    <section id="intro" class="intro section">
        <div class="top-text">
            <span>CODE • CREATE • CONNECT</span>
            <span>PERSONAL SHOWCASE</span>
            <span><span class="number-font">2025</span> PORTFOLIO</span>
            <span class="number-font">2025</span>
        </div>

        <img src="~/images/intro.jpg" alt="intro.jpg" class="intro-img" data-aos="fade-in">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="intro-text-container">
                <span class="intro-text"></span>
            </div>
        </div>

    </section>

    <nav class="quick-access">
        <ul>
            <li>
                <a asp-page="Resume">
                    <i class="bi bi-file-person-fill navicon"></i>
                    <span class="tooltip">رزومه</span>
                </a>
            </li>
            <li>
                <a asp-page="Biography">
                    <i class="bi bi-person navicon"></i>
                    <span class="tooltip">بیوگرافی</span>
                </a>
            </li>
            <li>
                <a asp-page="Service">
                    <i class="bi bi-check2-square navicon"></i>
                    <span class="tooltip">سفارش پروژه</span>
                </a>
            </li>
        </ul>
    </nav>
</div>