@page
@model NTWEB.Pages.PortfolioModel
@{
    ViewData["Title"] = "پادکست‌ها";
    ViewData["Description"] = "تدوین و ادیت حرفه‌ای پادکست با نیما ترابی؛ توی این بخش می‌تونی نمونه پادکست‌هایی که من تدوین کردم رو گوش بدی و لذت ببری!";
    ViewData["ActivePage"] = "Podcast";
}
<section id="podcast" class="podcast section light-background">
    <div class="container section-title" data-aos="fade-up">
        <h1>پادکست‌ها‌</h1>
        <p>
            در این بخش می‌تونید پادکست‌هایی که من در ادیت و تدوین اونا نقش داشتم رو ببینید، گوش کنید و لذت ببرید.
        </p>
    </div>

    <div class="container">
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">
            @foreach (var item in Model.Podcasts)
            {
                <div class="col-lg-4 col-md-6">
                    <article class="podcast-card">
                        <div>
                            <h2>@item.Title</h2>
                            <a href="@item.Url" class="listen-btn" target="_blank" rel="noopener noreferrer">گوش دادن</a>
                        </div>
                    </article>
                </div>
            }
        </div>
    </div>
</section>
<a href="@Url.Page("Contact")" class="footer-image">
    <img src="/images/links/contact-link.svg" alt="ارتباط با من" />
</a>
@section Styles {
    <link rel="stylesheet" href="~/css/podcast.min.css">
}
@section Schema {
    <script type="application/ld+json">
        {
           "@@context": "https://schema.org",
           "@@type" : "CollectionPage",
           "name": "پادکست‌های نیما ترابی",
           "description": "مشاهده پادکست‌های ادیت شده توسط نیما ترابی.",
           "url": "https://nimatorabi.ir/podcast",
           "about": {
               "@@type": "Person",
               "name": "نیما ترابی"
           }
        }
    </script>
}