/* Intro Section & Top Text */
.intro {
    width: 100%;
    height: 90vh;
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .intro:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    .intro .container {
        position: relative;
        z-index: 3;
    }

    .intro .intro-img {
        display: block;
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0));
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0));
        background-color: #0f100e;
        object-position: 15%;
    }

    .intro .top-text {
        font-family: var(--logo-font);
        position: absolute;
        bottom: clamp(10px, 4vh, 40px);
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: clamp(10px,6vw,100px);
        padding: 0 60px;
        font-size: clamp(13px, 2vw, 15px);
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0.8;
        z-index: 10;
        color: #fff;
        direction: ltr;
        text-shadow: 0 0 15px rgba(122, 180, 193, 0.6);
    }

        .intro .top-text .number-font {
            font-family: var(--default-font);
        }

        .intro .top-text span {
            font-weight: 600;
            opacity: 0;
            animation: fadeInUp 0.8s ease-out forwards;
        }

            .intro .top-text span:nth-child(1) {
                animation-delay: 0.3s;
            }

            .intro .top-text span:nth-child(2) {
                animation-delay: 0.6s;
            }

            .intro .top-text span:nth-child(3) {
                animation-delay: 0.9s;
            }

            .intro .top-text span:nth-child(4) {
                display: none;
            }

    .intro .intro-text-container {
        white-space: pre-line;
        display: inline-block;
        animation: float 6s ease-in-out infinite;
    }

    .intro .intro-text {
        color: #ffffff;
        font-weight: bold;
        font-size: clamp(32px, 4vw, 55px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 1;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(122, 180, 193, 0.4);
    }

        .intro .intro-text.fade-out {
            opacity: 0;
            transform: translateY(-10px);
        }

.quick-access {
    display: none;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 944px) {
    .intro .intro-text-container {
        padding-top: clamp(200px, 35vh, 350px);
    }
}

@media (max-width: 768px) {
    .intro {
        width: 100%;
        position: relative;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .intro::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 2;
        }

        .intro .top-text {
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            bottom: 0%;
            flex-direction: column;
            align-items: center;
            padding: 15px 20px;
            margin: 0 0px 0px 0px;
            gap: 20px;
            letter-spacing: 0.4rem;
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0 8px 15px rgb(122 180 193 / 0.25);
        }

            .intro .top-text span:nth-child(3) {
                display: none;
            }

            .intro .top-text span:nth-child(4) {
                display: block;
                animation-delay: 1.2s;
            }
}
