/* Podcast Section */
.podcast .podcast-card {
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #444;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    text-align: center;
}

    .podcast .podcast-card:hover {
        transform: scale(1.02);
        background-color: rgba(0, 25, 35, 0.2);
        box-shadow: 0 0 15px rgba(0, 25, 35, 1);
    }

    .podcast .podcast-card h2 {
        font-size: 18px;
        color: var(--heading-color);
        margin-bottom: 20px;
    }

    .podcast .podcast-card .listen-btn {
        display: block;
        align-items: center;
        width: 100%;
        padding: 8px 16px;
        background-color: var(--accent-color);
        color: #fff;
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
        transition: background 0.3s ease;
    }

        .podcast .podcast-card .listen-btn:hover {
            background-color: #007d6e;
        }

@media (max-width: 768px) {
    .podcast {
        padding-right: 10px;
        padding-left: 10px;
    }
}
